<app-wrapper-element>

  <mat-card-header>
    <mat-card-title [matBadge]="tasks.length" class="demo-section" matBadgeOverlap="false">To Do List</mat-card-title>
  </mat-card-header>
  <!--    <mat-divider></mat-divider> &lt;!&ndash; -> odziela elementy linią poziomą po całej długości kontenera&ndash;&gt;-->

  <!--    tu będą wyświetlane zadania do zrobienia po tym jak zostaną wpisane w add to do -->
  <mat-card-content>
    <!--      jezeli nie ma żadnych zadań do zrobienia to wyświetl komunikat "No tasks to do ikonka z uśmiechniętą buźką"-->
    <!--      <mat-list *ngIf="tasks.length !== 0; else emptyList">-->

    <mat-list-item *ngFor="let todo of tasks">
      <mat-checkbox matTooltip="Want to complete" matTooltipPosition="right">{{ todo.title }}</mat-checkbox>
    </mat-list-item>
    <!--    <mat-list-item>-->
    <!--      <mat-icon>sentiment_satisfied_alt</mat-icon>-->
    <!--      <p>No tasks to do</p>-->
    <!--    </mat-list-item>-->
    <!--      </mat-list>-->
  </mat-card-content>

</app-wrapper-element>
